<section>
<<<<<<< HEAD
    <p>{{thisProfile.posts.0.caption}}</p>
=======
    
    {{#if check_null}}
    <p>{{caption}}</p>
    {{else}}
    <img src="{{media}}"/>
    <p>{{caption}}</p>
    {{/if}}
    
>>>>>>> main
</section>

