<section class="tile is-ancestor">
  <section class="tile is-parent has-background-white is-vertical is-1">
    <!-- don't delete for spacing issues using tiles -->
  </section>
  <!-- this is the image and rendered profile section -->
  <section class="tile is-parent  is-vertical is-2">
    <section class="tile is-child is-vertical has-text-centered">
      <br>
      <section class="container">
        <h1 class="profile-name">{{thisProfile.profile.name}}</h1>
        <p>I am a: {{thisProfile.profile.animal_type}}</p>
        <p>My age: {{thisProfile.profile.age}}</p>
        <p>My breed/mix: {{thisProfile.profile.breed_mix}}</p>
        <p>My personality quirks: {{thisProfile.profile.personality_quirks}}</p>
        {{#if thisProfile.profile.dog}}
        <p> I get along with dogs</p>
        {{else}}
        <p> Sorry, I don't get along with dogs</p>
        {{/if}}
        {{#if thisProfile.profile.cat}}
        <p> I get along with cats</p>
        {{else}}
        <p> Sorry, I don't get along with cats</p>
        {{/if}}
        {{#if thisProfile.profile.kids}}
        <p> I get along with kids</p>
        {{else}}
        <p> Sorry, I don't get along with kids</p>
        {{/if}}
        <p>My furrever friends/family members are called: {{thisProfile.profile.furry_family}}</p>
        <p>Email address: {{thisProfile.profile.email}}</p>
        <p>Fostered since: {{format_date thisProfile.profile.date_fostered}}</p>
        {{#if thisProfile.profile.neutered_spayed}}
        <p> I am neutered/spayed</p>
        {{else}}
        <p> Sorry, I'm not neutered/spayed</p>
        {{/if}}
        {{#if thisProfile.profile.vaxed}}
        <p> I am vaxed</p>
        {{else}}
        <p> Sorry, I'm not vaxed</p>
        {{/if}}
        <p>My diet: {{thisProfile.profile.diet}}</p>
        <p>I love to: {{thisProfile.profile.i_love}}</p>
        <p>Which shelter told you about me? Url: {{thisProfile.profile.adopt_me_url}}</p>
      </section>
    </section>
    <form id="profilePicture">
      <input id="picture" type="file" name="image" />
      <button type="submit">Upload</button>
    </form>
  </section>
  <section class="tile is-parent has-background-white is-vertical is-1">
    <!-- don't delete for spacing issues using tiles -->
  </section>
  <!-- this is the feed display area -->
  <section class="tile is-parent has-background-light is-vertical is-7 px-5 py-5">
    <section class="tile is-child is-vertical">
      <!-- this is where the main feeds are! -->
      <form id="feed">
        <label for="new_feed" class="label is-medium"></label>
        <textarea id="new_feed" name="new_feed" rows="5"
          style="width:100%">This is where the furrever friend/family posts</textarea><br>
        <button class="button has-background-grey-light has-text-white" id="create_feed" style="width:100%"
          type="submit"><strong>I'm ready to update my status</strong></button>
        <br><br>

        <p class="has-background-info-dark has-text-white px-5 py-5" id="caption" style="width:100%">
          {{#if thisProfile.posts.length}}
          {{>post-details}}
          {{else}}
        <div></div>
        {{/if}}
        </p>
      </form>
    </section>
  </section>
  <section class="tile is-child has-background-white is-vertical is-1">
    <!-- don't delete for spacing issues using tiles -->
  </section>
</section>

<script src="/js/test_profile2.js"></script>